In [26]:
from bs4 import BeautifulSoup
import urllib.request,urllib.parse,urllib.error
#import webbrowser as w
#import time

#url='https://www.flipkart.com/search?q=mi%20mobiles&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'
#url='https://www.flipkart.com/search?q=mi+mobiles&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2'
url='https://courses.laimoon.com/uae/engineering/?page=11'
html = urllib.request.urlopen(url)

soup=BeautifulSoup(html,'html.parser')

In [27]:
course_name=soup.find_all("span",{"class":"truncate"})

In [28]:
course_names=[]
for i in range(0,len(course_name)):
    course_names.append(course_name[i].get_text())
course_names

['Certified Electronics Design Associate',
 'Electrical Safety Awareness in the Workplace',
 'General Electrical  Level 2 Certificate ',
 'Electrical Safety',
 'Autodesk Software Training Bundle (AutoCAD, Revit, 3DS Max, & More)']

In [35]:
price=soup.find_all("span",{"class":"info1"})
price.get_text()

AttributeError: ResultSet object has no attribute 'get_text'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [34]:
prices=[]
for i in range(0,len(price)):
    prices.append(price[i].get_text())
len(prices)

5

In [42]:
rating=soup.find_all("div",{"class":"hGSR34"})
len(rating)

24

In [43]:
ratings=[]
for i in range(0,len(rating)):
    ratings.append(rating[i].get_text())
ratings

['4.3',
 '4.5',
 '4.5',
 '4.3',
 '4.1',
 '4.4',
 '4.5',
 '4.2',
 '4.3',
 '4.4',
 '4.5',
 '4.1',
 '4.5',
 '4.5',
 '4.1',
 '4.3',
 '4.4',
 '4.4',
 '4.4',
 '4.4',
 '4.4',
 '4.3',
 '4.2',
 '4.3']

In [44]:
import pandas as pd

df=pd.DataFrame()

In [45]:
df['Produt name']=pnames

In [46]:
df['Product Price']=prices
df['Ratings']=ratings
df

                              Produt name Product Price Ratings
0              Redmi Note 3 (Gold, 32 GB)       ₹11,999     4.3
1        Redmi K20 (Glacier Blue, 128 GB)       ₹24,999     4.5
2          Redmi Note 5 Pro (Gold, 64 GB)       ₹13,999     4.5
3                Mi Mix 2 (Black, 128 GB)       ₹29,999     4.3
4               Mi A2 (Lake Blue, 128 GB)       ₹16,899     4.1
5         Redmi Note 5 (Rose Gold, 32 GB)       ₹10,999     4.4
6        Redmi K20 (Carbon Black, 128 GB)       ₹24,999     4.5
7                   Mi 4i (Yellow, 16 GB)       ₹12,999     4.2
8              Redmi 7 (Lunar Red, 32 GB)        ₹7,999     4.3
9              MI3 (Metallic Grey, 16 GB)       ₹13,999     4.4
10        Redmi K20 (Pearl White, 128 GB)       ₹24,999     4.5
11                    Mi A2 (Red, 128 GB)       ₹16,899     4.1
12        Redmi K20 (Glacier Blue, 64 GB)       ₹21,999     4.5
13         Redmi K20 (Pearl White, 64 GB)       ₹21,999     4.5
14                   Mi A2 (Gold, 128 GB)       ₹16,899     4.1
15            Redmi 7 (Comet Blue, 32 GB)        ₹7,995     4.3
16  Redmi Note 8 (Moonlight White, 64 GB)       ₹12,999     4.4
17     Redmi Note 8 (Neptune Blue, 64 GB)       ₹12,993     4.4
18            Redmi Note 5 (Black, 64 GB)       ₹12,500     4.4
19          Redmi Y3 (Prime Black, 64 GB)       ₹12,999     4.4
20         Redmi Y3 (Elegant Blue, 64 GB)       ₹12,999     4.4
21        Redmi 8A Dual (Sea Blue, 32 GB)        ₹7,298     4.3
22                     Mi A2 (Red, 64 GB)       ₹10,599     4.2
23                 Redmi Go (Blue, 16 GB)        ₹6,500     4.3